# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dynamic reconfigure
cfg/cpp/proc_control/AlgorithmConfig.h
src/proc_control/cfg/AlgorithmConfig.py 

#IDE
.idea/
