<launch>

    <node name="proc_control_node" pkg="proc_control_node" type="proc_control_node_node" output="screen"/>

    <!-- find to be changed to proc_control when the node will be changed in matlab/simulink -->
    <rosparam command="load" file="$(find proc_control_node)/config/$(env AUV).yaml"/>

</launch> 
